{% extends 'base.html' %}
{% set active_page = 'Visualise' %}


{% block header %}
  <h1>{% block title %}Visualise{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="px-3">

  
    <div class="album py-5 bg-dark">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          <div class="col">
            <div class="card shadow-sm">
              {{easy_linegraph('humidity', 'Humidity %') | safe}}
              <div class="card-body">
                <p class="card-text"> Humidity </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <!-- <img class="figure-img img-fluid rounded" alt="I am a graph" >  -->
              {{easy_linegraph('temperature', 'Temperature C') | safe}}
              <div class="card-body">
                <p class="card-text">Temperature</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              {{easy_linegraph('pressure', 'Pressure Pa') | safe}}  
              <div class="card-body">
                <p class="card-text">Pressure</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              {{easy_linegraph('air_quality', 'IAQ') | safe}}  
              <div class="card-body">
                <p class="card-text">Air Quality</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              {{easy_linegraph('eCO2', 'eCO2 ppm') | safe}}  
              <div class="card-body">
                <p class="card-text">eCO2</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

  
  </main>
  


{% endblock %}



