{% extends 'base.html' %}
{% set active_page = 'Visualise' %}


{% block header %}
  <h1>{% block title %}Visualise{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="px-3">

  
    <div class="album py-5 bg-dark">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          <div class="col">
            <div class="card shadow-sm" data-bs-theme="dark">
              {{easy_linegraph('humidity', 'Humidity %') | safe}}
              <div class="card-body">
                <p class="card-text"> Humidity </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="graph/humidity" role="button"
                    title="Graph the last day's worth of data"
                    >View</a>
                    <a class="btn btn-outline-secondary" 
                    href="explore?measurement_x=timestamp_unix_epoch&weather_component_y=humidity&time_period=72" 
                    role="button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm" data-bs-theme="dark">
              <!-- <img class="figure-img img-fluid rounded" alt="I am a graph" >  -->
              {{easy_linegraph('temperature', 'Temperature C') | safe}}
              <div class="card-body">
                <p class="card-text">Temperature</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="graph/temperature" role="button"
                    title="Graph the last day's worth of data"
                    >View</a>
                    <a class="btn btn-outline-secondary" 
                    href="explore?measurement_x=timestamp_unix_epoch&weather_component_y=temperature&time_period=72" 
                    role="button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm" data-bs-theme="dark">
              {{easy_linegraph('pressure', 'Pressure Pa') | safe}}  
              <div class="card-body">
                <p class="card-text">Pressure</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="graph/pressure" role="button"
                    title="Graph the last day's worth of data"
                    >View</a>
                    <a class="btn btn-outline-secondary" 
                    href="explore?measurement_x=timestamp_unix_epoch&weather_component_y=pressure&time_period=72" 
                    role="button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm" data-bs-theme="dark">
              {{easy_linegraph('air_quality', 'IAQ') | safe}}  
              <div class="card-body">
                <p class="card-text">Air Quality</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="graph/air_quality" role="button"
                    title="Graph the last day's worth of data"
                    >View</a>
                    <a class="btn btn-outline-secondary" 
                    href="explore?measurement_x=timestamp_unix_epoch&weather_component_y=air_quality&time_period=72" 
                    role="button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm" data-bs-theme="dark">
              {{easy_linegraph('eCO2', 'eCO2 ppm') | safe}}  
              <div class="card-body">
                <p class="card-text">eCO2</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="graph/eCO2" role="button"
                    title="Graph the last day's worth of data"
                    >View</a>
                    <a class="btn btn-outline-secondary" 
                    href="explore?measurement_x=timestamp_unix_epoch&weather_component_y=eCO2&time_period=72" 
                    role="button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <p class="text-secondary pt-4" >Last updated: {{latest_data["timestamp"]}}</p>

  </main>

{% endblock %}



